package home

import "captive/internal/views/layouts"

templ Index() {
	@layouts.Base("Home") {
		<p class="text-3xl font-bold text-red-600">Hello it's me.</p>
		<a href="/auth/login" class="btn btn-sm btn-neutral">Login</a>
		<a href="/auth/register" class="btn btn-sm btn-neutral">Register</a>
	}
}
